body
{
	
	/*text-align: center;*/
	

}
#tab
{
	display: flex;
	/*flex-direction: row;*/
	justify-content: center;


}
img
{
	height: 342px;
	width: 245px;
}
table
{
	text-align: center;
	justify-content: center;
}
h3, h1
{
	text-align: center;
}
.attack
{
	width: 100%;
	height: 70%;
	text-align: center;
}
